S3method(plot,ARpCRM)
S3method(plot,ARtpCRM)
S3method(plot,DiagARpCRM)
S3method(plot,residARpCRM)
S3method(print,ARpCRM)
S3method(print,ARtpCRM)
S3method(residuals,ARpCRM)
S3method(residuals,ARtpCRM)
S3method(summary,ARpCRM)
S3method(summary,ARtpCRM)
export(ARCensReg)
export(ARtCensReg)
export(InfDiag)
export(rARCens)
importFrom(ggplot2,ggplot,aes,geom_line,geom_histogram,geom_hline,geom_point,
           geom_segment,geom_text,geom_vline,labs,stat_function,theme_bw)
importFrom(gridExtra,grid.arrange)
importFrom(matrixcalc,is.positive.definite)
importFrom(methods,is)
importFrom(msm,rtnorm)
importFrom(mvtnorm,dmvnorm,pmvnorm)
importFrom(numDeriv,hessian,jacobian)
importFrom(qqplotr,stat_qq_band,stat_qq_line,stat_qq_point)
importFrom(Rcpp,sourceCpp)
importFrom(Rdpack,reprompt)
importFrom(stats,acf,ARMAacf,arima,arima.sim,dnorm,optim,optimize,pacf,pt,qnorm,
           quantile,rgamma,rnorm,rt,runif,sd,toeplitz)
importFrom(tmvtnorm,rtmvnorm)
importFrom(utils,setTxtProgressBar,txtProgressBar)
useDynLib(ARCensReg, .registration = TRUE)
