export(ARCensReg,rARCens,InfDiag)
importFrom(mvtnorm, dmvnorm, pmvnorm)
importFrom(tmvtnorm, rtmvnorm)
importFrom(msm, rtnorm)
importFrom(numDeriv, jacobian, hessian)
importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(graphics, abline, par, plot, text,hist, lines)
importFrom(stats, plot.ts, optim, toeplitz, sd,
	    ARMAacf,acf, pacf, var, runif, arima.sim, quantile,
	    density, qqline, qqnorm, rnorm)
S3method(print, ARpCRM)
S3method(plot, ARpCRM)